@use "../../styles/variables";

:global(.dark) {
  .mcpIcon {
    --mcp-icon-bg-opacity: 0.1;
  }
}

.mcpIcon {
  --mcp-icon-bg-opacity: 1;

  --mcp-icon-opacity-value: var(--mcp-icon-opacity, var(--mcp-icon-bg-opacity));
  --mcp-icon-bg-value: var(--mcp-icon-bg, #{variables.$gray});
  --mcp-icon-color-value: var(--mcp-icon-color, #{variables.$white});
  --mcp-icon-font-weight-value: var(--mcp-icon-weight, 700);

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--mcp-icon-color-value);
  font-weight: var(--mcp-icon-font-weight-value);

  z-index: 0;

  &.withText::before {
    content: "";

    position: absolute;
    inset: 0;

    background-color: var(--mcp-icon-bg-value);
    opacity: var(--mcp-icon-opacity-value);

    border-radius: inherit;

    z-index: -1;
  }

  &.small {
    width: 16px;
    height: 16px;

    font-size: 11px;
    line-height: 12px;

    border-radius: var(--mcp-icon-radius, 3px);
  }

  &.medium {
    width: 24px;
    height: 24px;

    font-size: 11px;
    line-height: 12px;

    border-radius: var(--mcp-icon-radius, 4px);
  }

  &.big {
    width: 32px;
    height: 32px;

    font-size: 14px;
    line-height: 16px;

    border-radius: var(--mcp-icon-radius, 6px);
  }

  &.large {
    width: 48px;
    height: 48px;

    font-size: 24px;
    line-height: 16px;

    border-radius: var(--mcp-icon-radius, 6px);
  }
}

.title {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.image,
.image img,
.image svg {
  width: inherit;
  height: inherit;
}
