@use "../../../../styles/variables/colors";

.tableHeaderCell {
  :global(.light) & {
    --table-header-text-color: #{colors.$gray};
    --table-header-text-hover-color: #{colors.$light-gray-dark};
    --table-container-border-right: 2px solid #{colors.$gray-strong};
    --table-container-border-hover-color: #{colors.$light-gray-dark};
  }

  :global(.dark) & {
    --table-header-text-color: #{colors.$gray-dark};
    --table-header-text-hover-color: #{colors.$white};
    --table-container-border-right: 2px solid #{colors.$gray-dark-strong};
    --table-container-border-hover-color: #{colors.$gray-dark-strong};
  }

  cursor: default;
  overflow: hidden;

  &.showIcon.sortingVisible {
    cursor: pointer;
  }

  .sortIcon {
    padding-block: 13px 0;
    padding-inline: 4px 0;

    display: none;

    svg {
      width: 12px;
      height: 12px;
      path {
        fill: var(--table-header-text-color) !important;
      }
    }

    &:hover {
      path {
        fill: var(--table-header-text-hover-color) !important;
      }
    }
  }

  &.showIcon:is(:hover, .isActive) {
    .sortIcon {
      display: block;
    }
  }

  &:not(.sorted) {
    .sortIcon {
      transform: scale(1, -1);
      padding-block: 14px;
      padding-inline: 4px 0;
    }
  }

  .tableHeaderItem {
    display: grid;
    grid-template-columns: 1fr 22px;
    margin-inline-end: 8px;
  }

  &.isShort {
    .tableHeaderItem {
      grid-template-columns: 1fr 12px;
    }
  }

  .textWrapper {
    display: flex;
    overflow: hidden;
  }

  .text {
    height: 38px;
    display: block;
    line-height: 38px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--table-header-text-color);
  }

  &.showIcon.sortingVisible {
    .text:hover {
      color: var(--table-header-text-hover-color);
    }
  }

  .resizeHandle {
    display: block;
    cursor: ew-resize;
    height: 10px;
    margin-block: 14px 0;
    margin-inline: auto 0;
    z-index: 1;
    border-inline-end: var(--table-container-border-right);

    &:hover {
      border-color: var(--table-container-border-hover-color);
    }
  }
}