// (c) Copyright Ascensio System SIA 2009-2026
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "../../styles/variables/colors" as *;
@use "../../styles/mixins";

:global(.dark) {
  .container {
    --file-input-border-color: #{$gray-dark-strong};
    --file-input-disabled-border-color: #{$gray-dark-strong};
    --file-input-warning-border-color: #{$dark-status-warning};
    --file-input-error-border-color: #{$dark-error-status};
    --file-input-hover-border-color: #{$gray-dark};
    --file-input-hover-disabled-border-color: #{$gray-dark-strong};
    --file-input-hover-warning-border-color: #{$dark-status-warning};
    --file-input-hover-error-border-color: #{$dark-error-status};
    --file-input-focus-border-color: #{$white};
    --file-input-focus-disabled-border-color: #{$gray-dark-strong};
    --file-input-focus-warning-border-color: #{$dark-status-warning};
    --file-input-focus-error-border-color: #{$dark-error-status};
    --file-input-disabled-placeholder-color: #{$gray-dark-text};
  }
}

.container {
  --file-input-border-color: #{$gray-strong};
  --file-input-disabled-border-color: #{$gray-light-mid};
  --file-input-warning-border-color: #{$light-status-warning};
  --file-input-error-border-color: #{$light-error-status};
  --file-input-hover-border-color: #{$gray};
  --file-input-hover-disabled-border-color: #{$gray-light-mid};
  --file-input-hover-warning-border-color: #{$light-status-warning};
  --file-input-hover-error-border-color: #{$light-error-status};
  --file-input-focus-border-color: #{$light-second-main};
  --file-input-focus-disabled-border-color: #{$gray-light-mid};
  --file-input-focus-warning-border-color: #{$light-status-warning};
  --file-input-focus-error-border-color: #{$light-error-status};
  --file-input-disabled-placeholder-color: #{$gray-strong};

  display: flex;
  position: relative;
  outline: none;

  &.base {
    width: 173px;
    max-height: 32px;
  }

  &.middle {
    width: 300px;
    max-height: 32px;
  }

  &.large {
    width: 550px;
    max-height: 44px;
  }

  &.scale {
    width: 100%;
  }

  .textInput {
    cursor: pointer !important;

    text-overflow: ellipsis;
    margin: 0;

    border-color: var(--file-input-border-color);

    &:focus {
      border-color: var(--file-input-border-color) !important;
    }

    &:hover:not(&.disabled):not(&.warning):not(&.error) {
      border-color: var(--file-input-border-color);
    }

    &.disabled {
      cursor: default !important;
      border-color: var(--file-input-disabled-border-color);

      &::placeholder {
        color: var(--file-input-disabled-placeholder-color);
        -webkit-text-fill-color: var(--file-input-disabled-placeholder-color);
      }

      &::-webkit-input-placeholder {
        color: var(--file-input-disabled-placeholder-color);
        -webkit-text-fill-color: var(--file-input-disabled-placeholder-color);
      }
      &::-moz-placeholder {
        color: var(--file-input-disabled-placeholder-color);
        -webkit-text-fill-color: var(--file-input-disabled-placeholder-color);
      }
      &:-ms-input-placeholder {
        color: var(--file-input-disabled-placeholder-color);
        -webkit-text-fill-color: var(--file-input-disabled-placeholder-color);
      }
      &:-moz-placeholder {
        color: var(--file-input-disabled-placeholder-color);
        -webkit-text-fill-color: var(--file-input-disabled-placeholder-color);
      }
    }

    &.warning {
      border-color: var(--file-input-warning-border-color) !important;
    }

    &.error {
      border-color: var(--file-input-error-border-color) !important;
    }

    padding-inline-end: 40px;

    &.base {
      padding-inline-end: 37px;
    }

    &.middle {
      padding-inline-end: 48px;
    }

    &.large {
      padding-inline-end: 64px;
    }
  }

  &:hover {
    .icon {
      border-color: var(--file-input-hover-border-color);

      &.disabled {
        border-color: var(--file-input-hover-disabled-border-color);
      }

      &.warning {
        border-color: var(--file-input-hover-warning-border-color);
      }

      &.error {
        border-color: var(--file-input-hover-error-border-color);
      }
    }
  }

  &:active {
    .icon {
      border-color: var(--file-input-focus-border-color);

      &.disabled {
        border-color: var(--file-input-focus-disabled-border-color);
      }

      &.warning {
        border-color: var(--file-input-focus-warning-border-color);
      }

      &.error {
        border-color: var(--file-input-focus-error-border-color);
      }
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  margin: 0;

  @include mixins.logical-border-radius(0, 3px, 3px, 0);

  &.base,
  &.middle {
    width: 30px;
    height: 30px;
  }

  &.large {
    width: 48px;
    height: 42px;
  }

  border: 1px solid;
  cursor: pointer;

  border-color: var(--file-input-border-color);

  .iconButton {
    cursor: pointer;
  }

  &.disabled {
    border-color: var(--file-input-disabled-border-color);
    cursor: default;

    .iconButton {
      cursor: default;
    }
  }

  &.warning {
    border-color: var(--file-input-warning-border-color);
  }

  &.error {
    border-color: var(--file-input-error-border-color);
  }

  .loader {
    padding-top: 5px;
  }

  inset-inline-end: 0;

  .iconButton {
    &.base {
      width: 16px;
    }

    &.middle {
      width: 16px;
    }

    &.large {
      width: 16px;
    }
  }
}
