@use "../../styles/variables/colors" as *;


.loader, 
.loaderTrack {
  --loader-color: #{$loader-light};
  --button-loader-track-primary: #{$white};
  --button-loader-track-base: var(--color-scheme-main-buttons);
}

:global(.dark) {
  :local {
    .loader, 
    .loaderTrack {
      --loader-color: #{$loader-dark};
      --button-loader-track-primary: #{$white};
      --button-loader-track-base: #{$white};
      }
  }
}

.loader {
  width: var(--loader-size, 40px);
  height: var(--loader-size, 40px);
  stroke: var(--loader-stroke, var(--loader-color));
}

.loaderTrack {
  --loader-track-primary-value: var(--loader-track-primary, var(--button-loader-track-primary));
  --loader-track-base-value: var(--loader-track-base, var(--button-loader-track-base));
  --loader-disabled-opacity: var(--loader-opacity-disabled, 0.6);

  width: var(--loader-size, 20px);
  height: var(--loader-size, 20px);

  &.primary {
    color: var(--loader-track-primary-value);
  }

  &.base {
    color: var(--loader-track-base-value);
  }

  &.disabled {
    opacity: var(--loader-disabled-opacity);
  }
}
