@use "../../styles/variables";
@use "../../styles/mixins";

.dragAndDrop {
  :global(.light) & {
    --drag-and-drop-bg: #{variables.$dnd-color};
    --drag-and-drop-accept-bg: #{variables.$dnd-hover-color};
  }

  :global(.dark) & {
    --drag-and-drop-bg: #{variables.$dnd-dark-color};
    --drag-and-drop-accept-bg: #{variables.$dnd-dark-hover};
  }

  --dnd-bg-value: var(--dnd-dragging-bg, var(--drag-and-drop-bg));
  --dnd-accept-bg-value: var(--dnd-accept-bg, var(--drag-and-drop-accept-bg));
  --dnd-disabled-opacity-value: var(--dnd-disabled-opacity, 0.4);

  height: 100%;
  margin-inline-start: -2px;
  position: relative;
  outline: none;

  @include mixins.tablet {
    margin-inline-start: 0;
  }

  &.dragging {
    background: var(--dnd-bg-value);

    &.dragAccept {
      background: var(--dnd-accept-bg-value);
    }
  }

  &.dragDisabled {
    opacity: var(--dnd-disabled-opacity-value);
  }

  &:not(.dragging):not(.dragDisabled) {
    background: none !important;
  }
}

.droppableHover {
  background: var(--dnd-accept-bg-value);
}
