@use "../../../styles/variables/colors";
@use "../../../styles/mixins";

.tileContent {
  width: 100%;
  display: inline-flex;
}

.mainContainerWrapper {
  margin: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  display: flex;
  align-self: center;
  margin-inline-end: auto;
  width: inherit;
}

.mainContainer {
  min-height: 20px;
  width: inherit;

  @include mixins.tablet {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
