@use "../../styles/variables/colors.scss" as *;

:global(.dark) {
  :local {
    .loaderContainer {
      --app-loader-background-color: #{$black};
    }
  }
}

.loaderContainer {
  --app-loader-background-color: #{$white};

  --app-loader-bg-value: var(--app-loader-bg, var(--app-loader-background-color));
  --app-loader-z-index-value: var(--app-loader-z-index, 5000);

  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: var(--app-loader-bg-value);
  z-index: var(--app-loader-z-index-value);
  position: fixed;
  top: 0;
  inset-inline-start: 0;

  .pageLoader {
    position: fixed;
    inset-inline-start: calc(50% - 20px);
    top: 35%;
  }
}
