@use "../../styles/variables/colors";

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--info-block-background);
  border-radius: 6px;
  padding: 12px 16px;

  :global(.light) & {
    --info-block-background: #{colors.$gray-light};
    --card-title-color: #{colors.$black};
    --card-body-color: #{colors.$gray-text};
  }

  :global(.dark) & {
    --info-block-background: #{colors.$dark-gray-light};
    --card-title-color: #{colors.$white};
    --card-body-color: #{colors.$dark-gray-dark};
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.title {
  flex: 1;
  min-width: 0;
  font-weight: 600;
  font-size: 12px;
  color: var(--card-title-color);
}

.extra {
  flex-shrink: 0;
  white-space: nowrap;
}

.body {
  font-size: 12px;
  color: var(--card-body-color);
}

.connectedStatus {
  --card-connected-color: var(--status-positive-color, #{colors.$main-green});

  color: var(--card-connected-color);
  font-size: 12px;
  font-weight: 600;
}
