@use "../../../styles//variables/colors";

.buttonDelete {
  :global(.light) & {
    --button-delete-bg: #{colors.$gray-light};
    --button-delete-bg-hover: #{colors.$light-gray-hover};
    --button-delete-border: #{colors.$gray-light};
    --button-delete-border-hover: #{colors.$light-gray-hover};
    --button-delete-text: #{colors.$gray-text};
    --button-delete-icon-color: #{colors.$light-gray-dark};
  }

  :global(.dark) & {
    --button-delete-bg: #{colors.$gray-dark-mid};
    --button-delete-bg-hover: #{colors.$gray-dark-strong};
    --button-delete-border: #{colors.$gray};
    --button-delete-border-hover: #{colors.$light-dark-gray-hover};
    --button-delete-text: #{colors.$white};
    --button-delete-icon-color: #{colors.$dark-gray-dark};
  }

  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 6px 0;
  background: var(--button-delete-bg);
  border: 1px solid var(--button-delete-border);
  border-radius: 3px;
  margin-bottom: 12px;
  margin-top: 4px;

  transition: all 0.2s ease;

  &:hover {
    background: var(--button-delete-bg-hover);
    border: 1px solid var(--button-delete-border-hover);
  }

  .text {
    user-select: none;
    font-weight: 600;
    line-height: 20px;
    color: var(--button-delete-text);
  }

  svg {
    padding-top: 2px;
    path {
      fill: var(--button-delete-icon-color);
    }
  }
}
