@use "../../../styles/variables";
@use "../../../styles/variables/colors" as *;
@use "../../../styles/mixins";

:global(.dark) {
  .templateTile {
    --tile-sub-text: #{$gray-dark};
  }
}

.templateTile {
  --tile-sub-text: #{$light-gray-dark};
  max-height: 128px;
  row-gap: 12px;
  padding: 12px 0px;

  :global {
    .content {
      margin-inline-end: 16px;
      overflow: hidden;
      width: inherit;

      .row-main-wrapper {
        width: inherit;
      }

      .row-main-container {
        width: inherit;
      }

      a {
        margin: 0;
        display: block !important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        span {
          overflow: hidden;
          display: block;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      p {
        margin: 0;
        display: block !important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: inherit;
      }

      .badges {
        gap: 12px;

        > div {
          margin: 0;
        }

        .tablet-row-create-room {
          cursor: pointer;
        }
      }
    }

    .bottomContent {
      height: 48px;
      width: 100%;
      align-content: center;

      box-sizing: border-box;
      overflow: hidden;
    }

    .topContent {
      height: 44px;
    }
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;

  .field {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .text {
    color: var(--tile-sub-color, var(--tile-sub-text));
  }

  .spaceQuota {
    margin-top: -5px;

    :global {
      .combobobox-space-quota .combo-button {
        height: 25px;
      }
    }
  }
}
