@use "../../styles/mixins";

.paging {
  --paging-gap-size: var(--paging-gap, 8px);
  --paging-button-gap-size: var(--paging-button-gap, 8px);
  --paging-nav-font-size: var(--paging-font-size, 13px);
  --paging-nav-padding: var(--paging-button-padding, 6px 28px);
  --paging-prev-max-width: var(--paging-prev-width, 111px);
  --paging-next-max-width: var(--paging-next-width, 86px);
  --paging-button-height: var(--paging-nav-height, 40px);
  --paging-on-page-width: var(--paging-count-width, 125px);

  display: flex;
  justify-content: flex-start;
  gap: var(--paging-gap-size);
  flex-wrap: wrap;

  @include mixins.mobile {
    flex-direction: column;
    gap: 20px;
  }

  .leftButtonsContainer {
    display: flex;
    margin-inline-end: auto;

    @include mixins.mobile {
      width: 100%;
    }

    > button:not(:last-child) {
      margin-inline-end: var(--paging-button-gap-size);
    }
  }

  .prevButton,
  .nextButton {
    font-size: var(--paging-nav-font-size);
    line-height: 20px;
    padding: var(--paging-nav-padding);

    @include mixins.tablet-and-below {
      font-size: 14px;
    }
  }

  .prevButton {
    max-width: var(--paging-prev-max-width);

    @include mixins.tablet-and-below {
      max-width: calc(var(--paging-prev-max-width) + 4px);
      height: var(--paging-button-height);
    }
  }

  .nextButton {
    max-width: var(--paging-next-max-width);

    @include mixins.tablet-and-below {
      max-width: calc(var(--paging-next-max-width) + 3px);
      height: var(--paging-button-height);
    }
  }

  .page {
    margin-inline-end: var(--paging-button-gap-size);

    @include mixins.mobile {
      flex-grow: 1;
    }

    .manualWidth {
      padding: 0;

      :global(.combo-button) {
        padding-inline: 16px;

        @include mixins.tablet-and-below {
          height: 40px;
        }

        :global(.combo-button-label) {
          margin-inline-end: 8px;

          @include mixins.tablet-and-below {
            font-size: 14px;
          }
        }

        :global(.combo-buttons_arrow-icon) {
          margin-inline-end: 0;
        }
      }

      :global(.dropdown-container) {
        width: 110%;
      }
    }
  }

  .onPage {
    width: var(--paging-on-page-width);

    @include mixins.tablet-and-below {
      height: var(--paging-button-height);
    }

    @include mixins.mobile {
      width: 100%;
    }

    .hideDisabled {
      padding: 0;

      :global(.combo-button) {
        padding-inline: 16px;

        @include mixins.tablet-and-below {
          height: 40px;
        }

        :global(.combo-button-label) {
          margin-inline-end: 8px;

          @include mixins.tablet-and-below {
            font-size: 14px;
          }
        }

        :global(.combo-buttons_arrow-icon) {
          margin-inline-end: 0;
        }

        div[disabled] {
          display: none;
        }
      }
    }
  }
}
