@use "../../../../../styles/variables/colors" as *;

:global(.dark) {
  .container {
    --index-bg-button-hover: #{$dark-grey-hover};
    --index-arrow-button-hover: #{$white};
  }
}

.container {
  --index-bg-button-hover: #{$light-blue-hover};
  --index-arrow-button-hover: #{$light-blue-main};

  display: flex;
}

.iconWrapper {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      background: var(--index-bg-button-hover);

      svg {
        cursor: pointer;

        path {
          fill: var(--index-arrow-button-hover) !important;
        }

        circle {
          stroke: var(--index-arrow-button-hover) !important;
        }
      }
    }
  }
}

.indexUpIcon {
  transform: rotate(-90deg);
}

.indexDownIcon {
  transform: rotate(90deg);
}
