@use "../../../../styles/variables";
@use "../../../../styles/variables/colors";

.tableSettings {
  margin-block: 14px 0;
  margin-inline: 0 2px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: variables.$tap-highlight;
}

.tableSettingsIcon {
  :global(.light) & {
    --table-settings-icon-disable-color: #{colors.$gray-strong};
  }

  :global(.dark) & {
    --table-settings-icon-disable-color: #{colors.$gray-dark-strong};
  }

  &.isDisabled svg path {
    fill: var(--table-settings-icon-disable-color) !important;
  }
}

.tableSettingsCheckbox {
  padding: 8px 16px;
}