// (c) Copyright Ascensio System SIA 2009-2026
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "../../../../styles/variables/colors" as *;
@use "../../../../styles/mixins";

:global(.dark) {
  .chatContainer {
    --accent-main: var(--color-scheme-main-accent, #{$light-blue-main});
    --background-color: #{$black};
    --text-color: #{$white};
    --icon-button-color: #{$gray-dark};

    --chat-header-model-color: #{$gray-dark};
    --chat-header-button-svg-color: #{$white};
    --chat-header-button-hover-background: #{$light-dark-gray-hover};
    --chat-header-button-active-background: #{$gray-dark-mid};
    --chat-header-button-disabled-color: #{$gray-dark};

    --chat-message-color: #{$dark-gray-dark};
    --chat-message-user-background-color: #{$white};
    --chat-message-error-background-color: #{$dark-error-status};
    --chat-message-file-border-color: #{$gray-dark-strong};
    --chat-message-code-block-background-color: #{$dark-gray-light};
    --chat-message-code-block-border: none;
    --chat-message-code-block-separator-color: #{$gray-dark-strong};
    --chat-message-tool-block-color: #{$gray-dark-mid};
    --chat-message-hr-color: #{$gray-dark};
    --chat-message-table-row-border-color: #{$gray-dark-strong};
    --chat-message-blockquote-bg-color: #{$white};
    --chat-message-blockquote-color: #{$dark-gray-dark};
    --chat-message-source-url-color: #{$dark-gray-dark};
    --chat-message-source-bg-hover-color: #{$light-dark-gray-hover};
    --chat-message-source-bg-pressed-color: #{$black};
    --chat-message-external-link-icon-color: #{$gray-dark};

    --chat-input-background-color: #{$gray-dark-mid};
    --chat-input-border: 1px solid #{$black};
    --chat-input-file-border-color: #{$black};
    --chat-input-file-background-color: #{$black};
    --chat-input-file-exst-color: #{$gray};
    --chat-input-tools-button-color: #{$dark-gray-dark};
    --chat-input-tools-button-disabled-color: #{$gray-dark-strong};
    --chat-input-tools-button-hover-background: #{$light-dark-gray-hover};
    --chat-input-tools-button-active-color: #{$white};
    --chat-input-tools-button-active-background: #{$gray-dark-mid};
    --chat-input-send-button-color: #{$black};
    --chat-input-send-button-background: #{$active-color-dark};
    --chat-input-placeholder-disabled-color: #{$gray-dark-strong};

    --chat-file-item-exst-color: #{$gray-dark};

  }
}

:global(.rtl) {
  .chatContainer {
    --input-text-align: right;
  }
}

.chatContainer {
  --accent-main: var(--color-scheme-main-accent, #{$light-blue-main});
  --input-text-align: left;
  --background-color: #{$white};
  --text-color: #{$black};
  --icon-button-color: #{$gray};
  --chat-header-top: calc(var(--section-header-height) + var(--section-submenu-height));

  --chat-header-model-color: #{$gray};
  --chat-header-button-svg-color: #{$black};
  --chat-header-button-hover-background: #{$light-gray-hover};
  --chat-header-button-active-background: #{$gray-light-mid};
  --chat-header-button-disabled-color: #{$gray};

  --chat-message-color: #{$gray-text};
  --chat-message-user-background-color: var(--accent-main);
  --chat-message-error-background-color: #{$light-error-status};
  --chat-message-file-border-color: #{$gray-light-mid};
  --chat-message-code-block-background-color: #{$white};
  --chat-message-code-block-border: 1px solid #{$gray-light-mid};
  --chat-message-code-block-separator-color: #{$gray-light-mid};
  --chat-message-tool-block-color: #{$light-gray-hover};
  --chat-message-hr-color: #{$gray};
  --chat-message-table-row-border-color: #{$gray-light-mid};
  --chat-message-blockquote-bg-color: var(--accent-main);
  --chat-message-blockquote-color: #{$gray-text};
  --chat-message-source-url-color: #{$light-gray-dark};
  --chat-message-source-bg-hover-color: #{$light-gray-selected};
  --chat-message-source-bg-pressed-color: #{$gray-strong};
  --chat-message-external-link-icon-color: #{$gray};

  --chat-input-background-color: #{$gray-light};
  --chat-input-border: unset;
  --chat-input-file-border-color: #{$gray-light-mid};
  --chat-input-file-background-color: #{$white};
  --chat-input-file-exst-color: #{$gray};
  --chat-input-tools-button-color: #{$gray-text};
  --chat-input-tools-button-disabled-color: #{$gray};
  --chat-input-tools-button-hover-background: #{$light-gray-hover};
  --chat-input-tools-button-active-color: #{$black};
  --chat-input-tools-button-active-background: #{$gray-light-mid};
  --chat-input-send-button-color: #{$white};
  --chat-input-send-button-background: var(--accent-main);
  --chat-input-placeholder-disabled-color: #{$gray-strong};

  --chat-file-item-exst-color: #{$gray};

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  @include mixins.tablet-and-below {
    --chat-header-top: calc(var(--section-header-height-tablet) + var(--section-submenu-height));
  }

  @include mixins.mobile {
    --chat-header-top: calc(var(--section-header-height-mobile) + var(--section-submenu-height));
  }

  &.useInternalScroll {
    --chat-header-top: 0;
    height: 100%;
  }
}
