@use "../../styles/variables/colors" as *;

.light {
  --selector-border: 1px solid #{$gray-light-mid};

  --selector-body-description-text: #{$gray};

  --selector-breadcrumbs-prev-item-color: #{$light-gray-dark};
  --selector-breadcrumbs-arrow-right-color: #{$light-gray-dark};

  --selector-info-background-color: #{$gray-light};
  --selector-info-color: #{$gray-text};

  --selector-item-hover-background: #{$gray-light};
  --selector-item-disabled-text-color: #{$gray};
  --selector-item-selected-background: #{$light-gray-hover};
  --selector-item-input-button-border: 1px solid #{$gray-strong};
  --selector-item-input-button-border-hover: #{$light-gray-dark};

  --selector-empty-screen-pressed-button-color: #{$gray-text};
  --selector-empty-screen-button-color: #{$light-gray-dark};
  --selector-empty-screen-hover-button-color: #{$black};
  --selector-empty-screen-description-color: #{$gray-text};

  --info-panel-role-color: #{$light-gray-dark};
}

.dark {
  --selector-border: 1px solid #{$gray-dark-strong};

  --selector-body-description-text: #{$gray-dark};

  --selector-breadcrumbs-prev-item-color: #{$dark-gray-dark};
  --selector-breadcrumbs-arrow-right-color: #{$dark-gray-dark};

  --selector-info-background-color: #{$dark-gray-light};
  --selector-info-color: #{$dark-gray-dark};

  --selector-item-hover-background: #{$light-dark-gray-hover};
  --selector-item-disabled-text-color: #{$gray-dark};
  --selector-item-selected-background: #{$light-dark-gray-hover};
  --selector-item-input-button-border: 1px solid #{$gray-dark-strong};
  --selector-item-input-button-border-hover: #{$white};

  --selector-empty-screen-pressed-button-color: #{$gray-dark-text};
  --selector-empty-screen-button-color: #{$dark-gray-dark};
  --selector-empty-screen-hover-button-color: #{$white};
  --selector-empty-screen-description-color: #{$dark-gray-dark};

  --info-panel-role-color: #{$gray};
}
