.emailInput {
  --email-input-text-align: var(--email-input-align, left);

  text-align: var(--email-input-text-align);
}

:global(.rtl) {
  :local {
    .emailInput {
      text-align: right;
    }
  }
}
