@use "../../../styles/variables/colors";

.tableHeader {
  :global(.light) & {
    --background-color: #{colors.$white};
    --table-header-border-bottom: 1px solid #{colors.$gray-light-mid};
    --table-header-lengthen-border-image-source: linear-gradient(
      to right,
      #{colors.$gray-light-mid},
      #{colors.$gray-light-mid}
    );
  }

  :global(.dark) & {
    --background-color: #{colors.$black};
    --table-header-border-bottom: 1px solid #{colors.$gray-dark-strong};
    --table-header-lengthen-border-image-source: linear-gradient(
      to right,
      #{colors.$gray-dark-strong},
      #{colors.$gray-dark-strong}
    );
  }

  position: fixed;

  background: var(--background-color);
  display: grid;
  z-index: 1;
  height: 39px;
  border-bottom: var(--table-header-border-bottom);
  margin: 0 -20px;
  padding: 0 20px;

  &:global(.lengthen-header):not(:global(.hotkeys-lengthen-header)) {
    border-image-slice: 1;
    border-image-source: var(--table-header-lengthen-border-image-source);
  }
}

.tableHeaderSettings {
  justify-self: flex-end;
}

.tableHeaderRow {
  display: contents;
}

.emptyTableContainer {
  grid-column-start: 1;
  grid-column-end: -1;
  height: 40px;
}