@use "../../styles/variables";
@use "../../styles/variables/colors";
@use "../../styles/mixins";

@mixin displayVertical {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .fieldLabel {
    line-height: 20px;
    height: 20px;
    display: inline-block;
  }

  .fieldLabelIcon {
    display: inline-flex;
    width: 100%;
    margin: 0 0 4px 0;
  }

  .fieldBody {
    width: 100%;
  }

  .iconButton {
    position: relative;
    margin: 0;
    padding: 0 8px;
    display: flex;
    align-items: center;
    height: 100%;
  }
}

@mixin displayHorizontal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .fieldLabel {
    line-height: 32px;
    margin: 0px;
    position: relative;
  }

  .fieldLabelIcon {
    display: inline-flex;
    min-width: var(--label-width);
    width: var(--label-width);
  }

  .fieldBody {
    flex-grow: 1;
  }

  .iconButton {
    position: relative;
    margin-top: 10px;
    margin-inline-start: 8px;
  }
}

.container {
  --field-container-bottom-margin: var(--field-container-margin, 0 0 16px 0);

  margin: var(--field-container-bottom-margin);

  &.horizontal {
    @include displayHorizontal();
  }

  &.vertical {
    @include displayVertical();
  }

  @include mixins.tablet-and-below {
    &.horizontal {
      @include displayVertical();
    }
  }

  &.noMargin {
    margin: 0;
  }
}

.errorContainer {
  :global(.light) & {
    --input-error-color: #{colors.$light-error-status};
  }

  :global(.dark) & {
    --input-error-color: #{colors.$dark-error-status};
  }

  --field-container-error-padding: var(--field-container-error-top, 4px);

  color: var(--error-color, var(--input-error-color));
  padding-top: var(--field-container-error-padding);
  max-width: var(--error-width, 293px);
}
