.cardRow {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 24px 16px;
  border: 1px solid var(--border-service-color);
  border-radius: 6px;
  max-width: 320px;
  margin-bottom: 0;
  height: 64px;
  box-sizing: border-box;
    &.warningColor {
    color: var(--warning-color);
    border-color: var(--warning-color);
  }
  
  &.scale {
   max-width: 100%;
  }

  &.withoutMargin{
   margin-bottom: 0px;
  }
}

.cardContent {
  flex: 1;
  min-width: 0;
}


 .tickedWrapper {
    svg {
      width: 16px;
      height: 16px;
      path {
        fill: var(--payment-credit-color);
      }


      
      }
  

       &.warningColor {
           svg {
          rect{
              fill: var(--warning-color);
          }

          path {
              fill: var(--warning-color);

            }
       }}
  }