.refreshIcon {
  cursor: pointer;
}

@keyframes circularRotate {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-180deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  90% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.spinning {
  svg {
    animation: circularRotate 2s ease-in-out infinite !important;
    transform-origin: center;
  }
}
