.amountContainer {
  margin-top: 20px;
}

.amountTitle {
  margin-bottom: 4px;
}

.tabsWrapper,
.amountTitleMain {
  margin-bottom: 12px;
}

.quantity,
.storagePerMonth {
  color: var(--payment-dialog-text);
}

.storagePerMonth {
  margin-top: 4px;
}

.recommendedAmount {
  margin-top: 4px;
  color: var(--payment-dialog-text);
}

.amountTabItemsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  height: 100%;
}
