.automaticPaymentsBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
  border-top: 1px solid var(--aside-header-border-color);
  padding-top: 20px;

  &.noMargin {
    margin-top: 0;
    border-top: none;
    padding-top: 0;
  }

  .autoPaymentHeader {
    display: flex;
    align-items: center;

    .toggleButton {
      position: static;
      margin-inline: auto 0px;
    }
  }

  .autoPaymentDescription {
    text-align: left;
    color: var(--payment-dialog-text);
  }

  .inputFields {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
  }

  .inputField {
    flex: 1;
  }

  .inputLabel {
    margin-bottom: 4px;
  }

  .inputDescription {
    margin-top: 4px;
    color: var(--payment-dialog-text);
  }

  .infoBlock {
    background: var(--payment-background-color);
    border-radius: 6px;
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 16px;

    .infoBlockTitle {
      display: flex;
      align-items: center;
      gap: 8px;

      .checkIcon {
        width: 16px;
        height: 16px;
        color: var(--payment-credit-color);
      }
    }

    .infoDescription {
      color: var(--payment-text-color);
      text-align: left;
    }
  }

  .inputButtons {
    display: flex;
    gap: 8px;
  }

  .settingsContainer {
    transition:
      opacity 0.5s ease-in-out,
      transform 0.5s ease-in-out;
    opacity: 0;
    transform: translateY(10px);

    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .settingsWrapper {
    opacity: 0;
    transform: translateY(10px);

    &.animated {
      animation: fadeInSettings 0.5s ease-in-out forwards;
    }

    &.showBlock {
      opacity: 1;
    }
  }
}

@keyframes fadeInSettings {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.autoPaymentInformation {
  margin-bottom: 24px;
  color: var(--payment-text-color);
}

.autoPaymentEditing {
  display: flex;
}
