.body {
  display: flex;
  flex-direction: column;

  --field-container-margin: 0;

  :global([class*="amountContainer"]) {
    margin-top: 16px;
  }
}

.description {
  color: var(--text-color);
}

.warning {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 16px;
  box-sizing: border-box;
  background: var(--payment-background-color);
  border-radius: 6px;
}

.warningIcon {
  flex-shrink: 0;
  width: 16px;
  height: 16px;

  path {
    fill: var(--status-warning);
  }
}

.warningText {
  flex: 1;
  min-width: 0;
  color: var(--status-warning);
}

.helperText {
  color: var(--text-disable-color);
  margin-top: 6px;
}

.footerButtons {
  display: flex;
  gap: 8px;
  width: 100%;
}
