.modalBody{
  margin-top:20px;
}

.buttonContainerWrapper {
  display: flex;
  gap: inherit;
  flex-direction: column;
  width: 100%;
}

.buttonContainer {
  gap: inherit;
  display: flex;
  width: 100%;
}

.walletInfoContainer {
  display: flex;
  background: var(--payment-background-color);
  min-height: 72px;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 6px;
  align-items: center;
  position: relative;
  max-width: 660px;
}

 .shortView {
    max-width: 320px;
  }

  .withoutBackground {
    background: transparent;
    border: 1px solid var(--aside-header-border-color);
  }

.walletInfoIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--payment-icon-background);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: 16px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 16px;
      height: 16px;
        path {
          fill: var(--payment-icon-color);
        }
    }
  }

  
}

.walletInfoBody {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.walletInfoTitle {
  line-height: 16px;
}

.walletInfoBalance {
  font-size: 14px;
  line-height: 16px;
  &.warningColor {
    color: var(--warning-color);
  }
}

.walletInfoActions {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-inline-start: auto;
}

.walletInfoOpenBilling {
  flex-shrink: 0;
}

.balanceValue {
  color: (var(--color-scheme-main-accent))
}
