@use "../../../../styles/mixins";
@use "../../../../styles/variables/colors";

.groupMenuItem {
  display: contents;
}

.button.overrideNativeStyles {
  :global(.light) & {
    --button-color-base: #{colors.$black};
    --button-color-base-hover: #{colors.$black};
    --button-color-base-active: #{colors.$black};
    --button-color-base-disabled: #{colors.$gray-strong};
    --button-background-base: #{colors.$white};
    --button-background-base-hover: #{colors.$white};
  }

  :global(.dark) & {
    --button-color-base: #{colors.$white};
    --button-color-base-hover: #{colors.$white};
    --button-color-base-active: #{colors.$white};
    --button-color-base-disabled: #{colors.$gray-dark-strong};
    --button-background-base: #{colors.$black};
    --button-background-base-hover: #{colors.$black};
  }

  border: none !important;
  padding: 0 12px;
  height: 100%;
  min-width: fit-content;

  background-color: var(--button-background-base);
 
   :global(.combo-button_selected-icon) > div {
     display: flex;
     align-items: center;
   }
 
   svg {
     path[fill] {
       fill: var(--button-color-base);
     }
 
     path[stroke] {
       stroke: var(--button-color-base);
     }
   }
 
   &.isBlocked {
     svg {
       path[fill] {
         fill: var(--button-color-base-disabled);
       }
 
       path[stroke] {
         stroke: var(--button-color-base-disabled);
       }
     }
   }
 
   &:hover,
   &:active {
     border: none !important;
     background-color: unset !important;
   }
 
   &:hover {
     svg {
       path[fill] {
         fill: var(--button-color-base-hover);
       }
 
       path[stroke] {
         stroke: var(--button-color-base-hover);
       }
     }
   }
 
   &:active {
     svg {
       path[fill] {
         fill: var(--button-color-base-active);
       }
 
       path[stroke] {
         stroke: var(--button-color-base-active);
       }
     }
   }
 
   :global(.btnIcon) {
     padding-inline-end: 8px;
   }
 
   :global(.button-content) {
     @include mixins.tablet-and-below {
       flex-direction: column;
       gap: 4px;
     }
 
     @include mixins.mobile {
       margin-top: 4px;
     }
   }
 
   /* TODO: remove if editors core version 85+ */
   &.oldChrome {
     :global(.button-content) {
       > div {
         margin-right: 8px;
 
         @include mixins.tablet-and-below {
           margin-right: 0;
         }
       }
     }
   }
 
   @include mixins.tablet-and-below {
     display: flex;
     justify-content: center;
     flex-direction: column;
     padding: 0 12px;
 
     :global(.btnIcon) {
       padding: 0;
       margin: 0 auto;
     }
   }
 
   @include mixins.mobile {
     padding: 0 16px;
     font-size: 0;
     line-height: 0;
   }
 }
 