@use "../../../../styles/mixins";

.header {
  max-width: 211px;

  margin-inline-start: 1px;

  @include mixins.tablet-and-below {
    margin-inline-start: 10px;
  }

  &[data-show-text="false"] {
    @include mixins.tablet-and-below {
      margin-inline-start: 0px;
    }
  }
}
