.container {
  padding: 0;
  display: grid;
  grid-gap: 10px;
}

.containerInline {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;

  > * {
    margin-inline-end: 10px;
    margin-bottom: 10px;
  }
}
