.radioButtonGroup {
  --radio-button-group-width: unset;

  width: var(--radio-button-group-width);

  &.horizontal {
    display: flex;
  }

  &.vertical {
    display: inline-block;
  }
}

.subtext {
  --rbg-subtext-margin-top: var(--radio-button-group-subtext-top, 16px);
  --rbg-subtext-margin-bottom: var(--radio-button-group-subtext-bottom, 8px);

  margin-top: var(--rbg-subtext-margin-top);
  margin-bottom: var(--rbg-subtext-margin-bottom);
}
