@use "../../styles/variables/colors";

:global(.dark) {
  .actionButton {
    --ab-bg: #{colors.$black};
    --ab-bg-hover: #{colors.$dark-gray-light};
    --ab-bg-active: #{colors.$gray-dark-strong};
    --ab-color: #{colors.$light-second-main};
  }
}

.actionButton {
  --ab-bg: #{colors.$white};
  --ab-bg-hover: #{colors.$light-gray-hover};
  --ab-bg-active: #{colors.$light-gray-selected};
  --ab-color: #{colors.$light-blue-main};

  display: inline-flex;
  align-items: center;

  gap: 8px;
  padding: 6px 10px;

  border: none;
  border-radius: 6px;

  color: var(--ab-color);
  background-color: var(--ab-bg);

  font-size: 13px;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.15s ease;

  @media (hover: hover) {
    &:hover {
      background-color: var(--ab-bg-hover);
    }
  }

  &:active {
    background-color: var(--ab-bg-active);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.icon {
  display: flex;
  align-items: center;
  flex-shrink: 0;

  svg {
    width: 12px;
    height: 12px;
    path {
      fill: var(--ab-color);
    }
  }
}

