@use "../../styles/mixins";
@use "../../styles/variables/colors";

.wrapper {
  :global(.light) & {
    --form-wrapper-background: #{colors.$white};
    --form-wrapper-box-shadow: 0px 5px 20px #{colors.$popup-shadow};
  }

  :global(.dark) & {
    --form-wrapper-background: #{colors.$black};
    --form-wrapper-box-shadow: 0px 5px 20px #{colors.$badge-shadow};
  }

  --form-wrapper-bg-value: var(--form-wrapper-bg, var(--form-wrapper-background));
  --form-wrapper-shadow-value: var(--form-wrapper-shadow, var(--form-wrapper-box-shadow));
  --form-wrapper-border-radius: var(--form-wrapper-radius, 12px);
  --form-wrapper-inner-padding: var(--form-wrapper-padding, 32px);
  --form-wrapper-width-max: var(--form-wrapper-max-width, 320px);
  --form-wrapper-width-min: var(--form-wrapper-min-width, 320px);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--form-wrapper-inner-padding);
  background: var(--form-wrapper-bg-value);
  box-shadow: var(--form-wrapper-shadow-value);
  border-radius: var(--form-wrapper-border-radius);
  max-width: var(--form-wrapper-width-max);
  min-width: var(--form-wrapper-width-min);

  @include mixins.tablet-and-below {
    max-width: 416px;
    min-width: 416px;
  }

  @include mixins.mobile {
    padding: 0;
    border-radius: 0;
    box-shadow: none !important;
    max-width: 100%;
    min-width: 100%;
    background: transparent !important;
  }
}
