  .balanceAmountContainer {
    display: flex;
    align-items: baseline;
    gap: 0;
    margin: 12px 0 16px 0;

    &.withoutMargin {
      margin: 0;
    }
  }

 .headerContainer {
   display: flex;
   align-items: center;
   gap: 8px;
 }



 .progressText {
  color: var(--payment-text-color);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
 }

 .progressTextHidden {
  opacity: 0;
 }

.integer,
.group,
.decimal,
.literal,
.currency {
  font-weight: 700;
  font-size: var(--balance-main-font-size, 44px);
}

.fraction {
  font-weight: 700;
  font-size: var(--balance-fraction-font-size, 28px);
}
