@use "../../../styles/variables";
@use "../../../styles/variables/colors" as *;
@use "../../../styles/mixins";

:global(.dark) {
  .roomTile {
    --tile-background-color: #{$black};
    --tile-icon-button-color: #{$gray-dark};
    --tile-tag-checked-background: #{$light-dark-gray-hover};
  }
}

.roomTile {
  --tile-background-color: #{$white};
  --tile-icon-button-color: #{$gray};
  --tile-tag-checked-background: #{$white};
  :global {
    .iconContainer {
      background: var(--tile-bg, var(--tile-background-color));
      border-radius: 6px;
    }

    .checkbox,
    .checkbox:active {
      padding-top: 8px;
      padding-inline-start: 12px;

      svg {
        margin: -8px;
        padding: 8px;
        margin-inline-end: 4px;
      }
    }

    .badges {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      align-items: center;

      > .is-pinned {
        margin: 0;

        padding-block: 8px;
        padding-inline: 0 8px;

        svg {
          path {
            fill: var(--tile-icon-color, var(--tile-icon-button-color));
          }
        }
      }
    }
  }

  &.checked,
  &.isActive,
  &:hover:not(.isEdit) {
    :global {
      .tag,
      .advanced-tag {
        background: var(--tile-tag-hover-bg, var(--tile-tag-checked-background));
      }
    }
  }

  &:hover {
    a {
      text-decoration: underline;
    }
  }
}
