@use "../../styles/variables/colors" as *;

:global(.dark){
  :local {
    .backdrop {
      --backdrop-background-color: #{$blur-dark};
    }
  }
}

.backdrop {
  --backdrop-background-color: #{$blur-light};

  --backdrop-bg-value: var(--backdrop-bg, var(--backdrop-background-color));
  --backdrop-z-index-value: var(--backdrop-z-index, 203);

  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--backdrop-z-index-value);
  display: none;
  height: 100vh;
  width: 100vw;

  &.visible {
    display: block;
  }

  &.withBackground {
    background-color: var(--backdrop-bg-value);
  }

  &.withoutBackground {
    background-color: unset;
  }
}
