@use "../../../../styles/mixins";
@use "../../../../styles/variables/colors" as *;

.filterContainer {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
}

.filterBlock {
  padding: 12px 0 16px;
  margin-bottom: 4px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 12px 8px;
  box-sizing: border-box;

  --filter-block-border-color: #{$gray-light-mid};

  :global(.dark) & {
    --filter-block-border-color: #{$gray-dark-strong};
  }

  &[data-is-last="false"] {
    border-bottom: 1px solid;

    border-color: var(--filter-block-border-color);
  }

  :global {
    .row-loader {
      display: flex;

      align-items: center;
      flex-wrap: wrap;

      gap: 8px;
    }
  }
}
