@use "../../../styles/mixins";
@use "../../../styles/variables/colors";

.tableRow {
  :global(.light) & {
    --drag-and-drop-accept-bg: #{colors.$dnd-hover-color};
  }

  :global(.dark) & {
    --drag-and-drop-accept-bg: #{colors.$dnd-dark-hover};
  }

  display: contents;

  @media (hover: hover) {
    :global(.create-share-link) {
      display: none;
    }

    &:hover,
    &.isActive,
    &.checked {
      :global(.create-share-link) {
        display: block;
      }
    }
  }

  :global(.droppable-hover) {
    background: none;
  }

  &.dragging:not(.isIndexEditingMode, .isActive) {
    :global(.droppable-hover) {
      background: var(--drag-and-drop-accept-bg) !important;
    }
  }

  :global(.table-container_row-loader) {
    display: inline-flex;
  }
}