.amountContainer {
  margin-bottom: 20px;
  margin-top: 20px;
}

.amountTitle {
  margin-bottom: 12px;
}

.tabsWrapper {
  margin-bottom: 12px;
}

.quantity,
.storagePerMonth {
  color: var(--payment-dialog-text);
}

.storagePerMonth {
  margin-top: 4px;
}
