.orderSummaryWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 20px;
  margin-top:20px;
}



.summaryCard {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.summaryContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  background: var(--payment-background-color);
  border-radius: 6px;
}

.summaryRow {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.rowLabel {
  flex: 1;

  line-height: 16px;
}

.rowValue {
  line-height: 16px;
}

.rowSubtext {
  color: var(--payment-dialog-text);
  font-weight: 400;
}

.divider {
  height: 1px;
  background:  var(--aside-header-border-color);
  width: 100%;
}

.planInfoHeader {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.balanceInfo {
  color: var(--payment-dialog-text);
    margin-right: 0;
    margin-left: auto;

     &.warningColor {
    color: var(--warning-color);
  }
}


