.gridContainer {
  display: grid;
  grid-gap: 16px;
  width: fit-content;
}

.gridContainerDesktop {
  grid-template-columns: repeat(2, 1fr);
}

.gridContainerMobile {
  grid-template-columns: 1fr;
}

.loaderContainer {
  max-width: 280px;
  padding: 20px;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.middleRow {
  margin-bottom: 12px;
  max-width: 130px;
}

.longRow {
  max-width: 271px;
}
.bottomRow {
  margin-top: 12px;
}

.firstLoader {
  max-width: 376px;
}
.firstMobileLoader {
  max-width: 211px;
}
.loaderWrapper {
  width: 100%;
}
