.sendClockIcon {
  padding-inline-start: 8px;
  min-width: 12px;
  overflow: hidden;
  vertical-align: middle;

  path {
    fill: var(--accounts-badges-pending-color);
  }
}

.isMeLabel {
  padding-inline-start: 4px;
  color: var(--info-panel-me-label-color);
}