@use "../../../styles/mixins";

.row {
  width: 100%;
  height: 32px;
  display: grid;
  grid-template-columns: 32px 1fr 16px;
  grid-template-rows: 1fr;
  grid-column-gap: 8px;
  margin-bottom: 16px;
  justify-items: center;
  align-items: center;

  @include mixins.tablet-and-below {
    grid-column-gap: 12px;
    margin-bottom: 26px;
  }
}

.box {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 16px;
  grid-row-gap: 2px;
  justify-items: start;
  align-items: start;
  box-sizing: border-box;
  padding-inline-end: 12px;

  :global {
    .first-row-content__mobile {
      max-width: 384px;
      height: 16px;
    }

    .second-row-content__mobile {
      max-width: 176px;
      width: 50%;
    }
  }

  @include mixins.desktop {
    padding-inline-end: 8px;
    grid-template-rows: 16px;
    grid-row-gap: 0;

    :global {
      .first-row-content__mobile {
        max-width: none;
        height: 20px;
        width: 100%;
      }

      .second-row-content__mobile {
        display: none;
      }
    }
  }
}
