@use "../../../../styles/variables/colors";

.tableCell {
  :global(.light) & {
    --table-cell-border: 1px solid #{colors.$gray-light-mid};
  }

  :global(.dark) & {
    --table-cell-border: 1px solid #{colors.$gray-dark-strong};
  }

  height: 48px;
  max-height: 48px;
  border-bottom: var(--table-cell-border);
  overflow: hidden;

  display: flex;
  align-items: center;

  :global(.react-svg-icon) svg {
    margin-top: 2px;
  }

  :global(.table-container_element) {
    display: flex;
  }

  :global(.table-container_row-checkbox) {
    display: none;
    padding: 16px;

    margin-inline-start: -4px;
  }

  &.checked {
    :global(.table-container_element) {
      display: none;
    }

    :global(.table-container_row-checkbox) {
      display: flex;
    }
  }

  &.hasAccess:hover {
    :global(.table-container_element) {
      display: none;
    }
    :global(.table-container_row-checkbox) {
      display: flex;
    }
  }
}