// ===== CurrentUsersCountContainer =====

.currentUsersContainer {
  height: fit-content;

  .currentAdminsNumber {
    &.isDisabled {
      color: var(--payment-price-container-disable-color);
    }
  }
}

// ===== DowngradePlanButtonContainer =====

.downgradePlanButton {
  button {
    width: 100%;
  }
}

// ===== RequestButtonContainer =====

.requestButton {
  button {
    width: 100%;
  }
}

// ===== SelectTotalSizeContainer =====

.selectTotalSizeContainer {
  .selectTotalSizeTitle {
    margin-bottom: 8px;
    margin-inline: auto;
    color: var(--payment-price-container-feature-text);

    &.isDisabled {
      color: var(--payment-price-container-disable-color);
    }
  }
}

// ===== TotalTariffContainer =====

.totalTariffContainer {
  max-width: 272px;
  margin: 0 auto;
  word-break: break-word;
  text-align: center;

  @media (max-width: 600px) {
    max-width: 520px;
  }

  .proratedNow {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    min-height: 40px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 8px 16px;
    border-radius: 6px;
    background: var(--payment-price-container-bg-text);
    font-size: 13px;
    color: var(--payment-price-container-feature-text);

    .proratedNowLabel {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    .proratedNowInfo {
      cursor: pointer;
    }

    .proratedNowPrice {
      font-size: 14px;
      font-weight: 700;
      color: var(--payment-price-color);
    }

    .proratedNowLoader {
      display: flex;
      align-items: center;
    }

    &.isDisabled {
      color: var(--payment-price-container-disable-color);

      .proratedNowPrice {
        color: var(--payment-price-container-disable-price-color);
      }
    }
  }

  .paymentPriceTotalPrice {
    display: flex;
    justify-content: center;
    min-height: 65px;
    margin-top: 16px;
    margin-bottom: 16px;

    &.isDisabled {
      color: var(--payment-price-container-disable-color);
    }

    .largerFontSize {
      font-size: 48px;
    }

    .totalTariffDescription {
      margin: auto;
    }

    p {
      margin-bottom: 0;
    }
  }

  button {
    width: 100%;
  }
}
