@use "../../styles/variables/colors";
@use "../../styles/mixins";

.wrapper {
  :global(.light) & {
    --header-background-color: #{colors.$gray-light};
  }

  :global(.dark) & {
    --header-background-color: #{colors.$dark-gray-light};
  }

  --portal-logo-mobile-bg-value: var(--portal-logo-mobile-bg, var(--header-background-color));
  --portal-logo-mobile-height-value: var(--portal-logo-mobile-height, 48px);
  --portal-logo-mobile-img-height-value: var(--portal-logo-mobile-img-height, 24px);
  --portal-logo-desktop-img-height-value: var(--portal-logo-desktop-img-height, 44px);
  --portal-logo-desktop-img-width-value: var(--portal-logo-desktop-img-width, 386px);

  @include mixins.mobile {
    &:not(.resizable) {
      display: none;
    }

    &.mobile.resizable {
      display: flex;
      background-color: var(--portal-logo-mobile-bg-value);
      height: var(--portal-logo-mobile-height-value);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      align-content: center;
      text-align: center;

      img {
        height: var(--portal-logo-mobile-img-height-value);
        margin: auto;
      }

      [dir="rtl"] & {
        right: 0;
      }
    }
  }

  &:global(.not-mobile) {
    img {
      height: var(--portal-logo-desktop-img-height-value);
      width: var(--portal-logo-desktop-img-width-value);
    }
  }
}
