@use "../../styles/variables/colors";
@use "../../styles/mixins";

.categoryItemWrapper {
  :global(.light) & {
    --settings-description-color: #{colors.$gray-text};
    --settings-arrow-fill: #{colors.$black};
    --text-disable-color: #{colors.$gray-text};
  }

  :global(.dark) & {
    --settings-description-color: #{colors.$gray-dark};
    --settings-arrow-fill: #{colors.$white};
    --text-disable-color: #{colors.$gray-dark-text};
  }

  --category-item-description-color-value: var(--category-item-description-color, var(--settings-description-color));
  --category-item-arrow-color-value: var(--category-item-arrow-color, var(--settings-arrow-fill));
  --category-item-disabled-color-value: var(--category-item-disabled-color, var(--text-disable-color));
  --category-item-bottom-margin: var(--category-item-margin, 20px);

  margin-bottom: var(--category-item-bottom-margin);
}

.categoryItemHeading {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.categoryItemSubheader {
  --category-item-subheader-font-size: var(--category-item-subheader-size, 13px);

  font-size: var(--category-item-subheader-font-size);
  font-weight: 600;
  margin-bottom: 5px;
}

.categoryItemDescription {
  color: var(--category-item-description-color-value);
  font-size: 12px;
  max-width: 1024px;

  &.disabled {
    color: var(--category-item-disabled-color-value);
  }
}

.inheritTitleLink {
  margin-inline-end: 7px;
  font-size: 16px;
  font-weight: 600;
  color: var(--category-item-title-color);

  &.disabled {
    color: var(--category-item-disabled-color-value);
  }
}

.linkText {
  margin: 0;
}

.arrowIcon {
  @include mixins.common-icons-style;

  path {
    fill: var(--category-item-arrow-color-value);
  }

  :global(.rtl) & {
    transform: scaleX(-1);
  }
}
