@use "../../styles/variables/colors";
@use "../../styles/mixins";

:global(.dark) {
  .label {
    --radio-button-bg: #{colors.$dark-gray-light};
    --radio-button-disable-bg: #{colors.$dark-gray-light};
    --radio-button-text-color: #{colors.$white};
    --radio-button-text-disable-color: #{colors.$gray-dark-text};
    --radio-button-fill-color: #{colors.$white};
    --radio-button-border-color: #{colors.$gray-dark-strong};
    --radio-button-disable-fill-color: #{colors.$gray-dark-strong};
    --radio-button-disable-border-color: none;
    --radio-button-hover-border-color: #{colors.$white};
  }
}

.radioButtonIcon {
  @include mixins.common-icons-style;
}

.label {
  --radio-button-bg: #{colors.$white};
  --radio-button-disable-bg: #{colors.$gray-light};
  --radio-button-text-color: #{colors.$black};
  --radio-button-text-disable-color: #{colors.$gray};
  --radio-button-fill-color: #{colors.$black};
  --radio-button-border-color: #{colors.$gray-strong};
  --radio-button-disable-fill-color: #{colors.$gray-strong};
  --radio-button-disable-border-color: #{colors.$gray-light-mid};
  --radio-button-hover-border-color: #{colors.$gray};

  --radio-button-spacing: unset;
  --radio-button-icon-gap: var(--radio-button-gap, 8px);
  --radio-button-bg-color: var(--radio-button-background, var(--radio-button-bg));
  --radio-button-text: var(--radio-button-label-color, var(--radio-button-text-color));
  --radio-button-dot: var(--radio-button-dot-color, var(--radio-button-fill-color));
  --radio-button-circle: var(--radio-button-circle-color, var(--radio-button-border-color));
  --radio-button-circle-hover: var(--radio-button-circle-hover-color, var(--radio-button-hover-border-color));

  display: flex;
  align-items: center;
  position: relative;
  margin: 0;

  @include mixins.no-user-select;

  cursor: pointer;

  .radioButtonIcon {
    path:first-child {
      stroke: var(--radio-button-circle);
    }

    path:nth-child(even) {
      fill: var(--radio-button-dot);
    }
  }

  &:hover {
    .radioButtonIcon {
      path:first-child {
        stroke: var(--radio-button-circle-hover);
      }
    }
  }

  &.disabled {
    cursor: default;

    .radioButtonIcon {
      path:first-child {
        stroke: var(--radio-button-disable-border-color);
      }

      path:nth-child(even) {
        fill: var(--radio-button-disable-fill-color);
      }
    }

    .radioButtonIcon {
      margin-inline-end: var(--radio-button-icon-gap);

      path {
        fill: var(--radio-button-disable-bg);
      }
    }

    .radioButtonText {
      color: var(--radio-button-text-disable-color);
    }
  }

  &.spacing {
    &.orientationHorizontal:not(:first-child) {
      margin-inline-start: var(--radio-button-spacing);
    }

    &.orientationVertical:not(:last-child) {
      margin-block-end: var(--radio-button-spacing);
    }
  }

  .radioButtonIcon {
    margin-inline-end: var(--radio-button-icon-gap);

    path {
      fill: var(--radio-button-bg-color);
    }
  }

  .radioButtonText {
    color: var(--radio-button-text);
  }
}

.input {
  position: absolute;
  z-index: -1;
  opacity: 0.0001;
}
