@use "../../styles/variables/colors" as *;

$font-size: 13px;

.light {
  --background-color: #{$white};
  --text-color: #{$black};
  --info-panel-members-subtitle-color: #{$gray};
}

.dark {
  --background-color: #{$black};
  --text-color: #{$white};
  --info-panel-members-subtitle-color: #{$gray};
}

html,
body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 13px;
}

* {
  font-family: var(--font-family);
}

body {
  direction: var(--interface-direction);
}
