@use "../../styles/mixins";

.container {
  @include mixins.no-user-select;

  --room-logo-size-value: var(--room-logo-size, 32px);

  width: var(--room-logo-size-value);
  height: var(--room-logo-size-value);

  min-width: var(--room-logo-size-value);
  min-height: var(--room-logo-size-value);

  display: flex;
  align-items: center;
  justify-content: center;

  :global {
    .room-logo_checkbox {
      display: none;
      margin-inline-start: 12px;

      .checkbox {
        margin-inline-end: 0;
      }
    }
  }
}

.logoContainer {
  --room-logo-radius-value: var(--room-logo-radius, 6px);

  width: var(--room-logo-size-value, 32px);
  height: var(--room-logo-size-value, 32px);

  :global {
    .room-logo_icon {
      border-radius: var(--room-logo-radius-value);
    }
  }
}
